<div class="modal-header">
	<h1 class="modal-title" translate="app.title"></h1>
	<h3 translate="views.login.title"></h3>
</div>
<div class="modal-body">
<form name="loginForm">
  <div class="form-group">
  	<label for="email" translate="views.login.email"></label>
    <input type="email" class="form-control" ng-model="vm.email"
    	placeholder="{{'views.login.placeholder.email' | translate}}" />
  </div>
  <div class="form-group">
  	<label for="password" translate="views.login.password"></label>
    <input type="password" class="form-control" ng-model="vm.password"
    	placeholder="{{'views.login.placeholder.password' | translate}}" />
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox">
      <span translate="views.login.rememberme"></span>
    </label>
  </div>
</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="vm.connect()">
		<span translate="views.login.connexion"></span>
	</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()">
		<span translate="app.cancel"></span>
	</button>
</div>