<div class="container g-chat" layout="column" layout-padding>
    <div class="md-title g-chat-title" layout="row" layout-align="space-between center">
        <h2 translate="views.chat.title"></h2>
        <div class="md-subhead" ng-if="$ctrl.chatContenu.users.length">
            <span ng-bind="$ctrl.chatContenu.users.length"></span>
            &nbsp;
            <span translate="common.user"
                  translate-values="{ NUMBER: {{$ctrl.chatContenu.users.length}} }"
                  translate-interpolation="messageformat">
            </span>
        </div>
    </div>

    <section flex id="messages" scroll-glue-bottom="glued">
        <chat-message ng-repeat="message in $ctrl.chatContenu.getMessages() track by message.id + $index"
                      message="message" is-from-user="$ctrl.User.id == message.user.id"
                      on-repeat-end="$ctrl.scrollToBottom(true)">
        </chat-message>
    </section>

    <!-- pour parler -->
    <chat-footer></chat-footer>
</div>