.genesis-clock .progress{
    height: 25px;
    margin: 0 20px 0 20px;
}

.genesis-clock.g-clock-lg .progress{
    width: 200px;
}

.genesis-clock.g-clock-md .progress{
    width: 125px;
}

.genesis-clock.g-clock-sm .progress{
    width: 50px;
}

.genesis-clock .display{
    padding: 2px 10px 2px 10px;
    border: 1px solid #e7e7e7;
    color: #565656;
    font-weight: bold;
    border-radius: 4px;
}

.genesis-clock md-progress-linear{
    height: 20px !important;
    margin: 0 !important;
}

.genesis-clock .md-mode-determinate{
    height: 20px !important;
}

.genesis-clock .md-bar{
    height: 20px !important;
}


