<md-sidenav class="g-sidebar" md-is-locked-open='true'
            ng-if="!$ctrl.isHome()" g-show-authed="client">
    <md-content class="g-nav" role="navigation" layout="column" layout-fill>
        <ul>
            <li ng-repeat="section in $ctrl.content.sections" class="parent-list-item" g-show-authed="{{section.auth}}">
                <h2 class="menu-heading" ng-if="section.type === 'heading'"
                    id="heading_{{ section.name }}" ng-bind="section.name">
                </h2>
                <sidebar-link section="section" ng-if="section.type === 'link'" layout-fill></sidebar-link>
                <sidebar-toggle-menu section="section" ng-if="section.type === 'toggle'"></sidebar-toggle-menu>
            </li>
        </ul>
    </md-content>
</md-sidenav>
