.g-sidebar {
    height: 100%;
}

.g-sidebar .g-nav{
    background-color: #616161;
}

.g-sidebar ul{
    padding: 0;
}
.g-sidebar li{
    margin: 0;
}

.g-sidebar .md-button{
    display: block;
    margin: 0;
    border-radius: 0;
    text-align: start;
    color: #e5e5e5;
    font-weight: 300;
}

.g-sidebar .md-button.active {
    color: white;
    background-color: #454545;
}

.g-sidebar .md-button-toggle{
    width: 100%;
}

.g-sidebar .md-button-toggle .md-toggle-icon.toggled {
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
}

.g-sidebar .md-button-toggle .md-toggle-icon {
    margin-right: 10px;
    margin-top: 12px;
    transition: transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
}

.g-sidebar .g-link{
    margin-left: 10px;
}

.g-sidebar .md-button-toggle .g-link{
    margin-left: 22px;
}

.g-sidebar .md-button-toggle .g-link{
    margin-left: 22px;
}

.g-sidebar .menu-toggle-list .g-link{
    margin-left: 42px;
}