<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="unprotected.home"> 
        <span translate="app.title"></span>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li ng-class="{'active': vm.isActive('unprotected.home')}">
        <a ui-sref="home">
          <span translate="views.home.title"></span>
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li ng-if="!vm.user.isLogged">
        <a href="#" ng-click="vm.signup()">
          <span translate="views.signup.title"></span>
        </a>
      </li>
      <li ng-if="!vm.user.isLogged">
        <a href="#" ng-click="vm.login()">
          <span class="glyphicon glyphicon-log-in"></span>
          &nbsp;<span translate="app.login"></span>
        </a>
      </li>
      <li ng-if="vm.user.isLogged">
        <a href="#" ng-click="vm.logout()">
          <span class="glyphicon glyphicon-log-out"></span>&nbsp;
          <span translate="app.logout"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>