<div class="container" layout="column" layout-padding>
  <h1 translate="views.home.title"></h1>
  <p translate="views.global.welcome"></p>

  <div ng-show="$ctrl.isLoaded">
    <md-button class="md-raised" ng-click="$ctrl.login($event)" ng-if="!$ctrl.User.isLogged" aria-label="openLogin">
      <span translate="app.login"></span>
    </md-button>
    <md-button class="md-raised" ng-click="$ctrl.$state.go('dashboard')" ng-if="$ctrl.User.isLogged" aria-label="openDashboard">
      <span translate="views.dashboard.title"></span>
    </md-button>
  </div>
</div>