<div class="container" layout="column" layout-padding layout-wrap>
    <h1 translate="views.game.title"></h1>
    <span id="alert" class="md-block animated fadeIn" layout-wrap ng-bind="$ctrl.descriptionError"
          ng-click="$ctrl.hasError = false" ng-if="$ctrl.hasError"></span>
    <md-whiteframe class="md-whiteframe-4dp" layout-margin>
        <div ng-include="'/commons/game/game-add-system.html'"></div>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-4dp" layout-margin>
        <div ng-include="'/commons/game/game-add-planet.html'"></div>
    </md-whiteframe>
</div>