<div class="modal-header">
	<h1 class="modal-title" translate="app.title"></h1>
	<h3 translate="views.login.title"></h3>
</div>
<div class="modal-body">
<form name="loginForm" id="loginForm" class="form-genesis" ng-submit="vm.login(loginForm)" novalidate>
  <!-- Username -->
  <div class="form-group" form-validate="on-submit">
  	<label class="control-label" for="username" translate="views.login.username"></label>
    <input type="text" class="form-control" name="username" ng-model="vm.username"
    	placeholder="{{'views.login.placeholder.username' | translate}}" required/>
    <div class="help-block" ng-messages="loginForm.username.$error">
      <p ng-message="required"><span translate="form.error.required"></span></p>
    </div>
  </div>
  <!-- Password -->
  <div class="form-group" form-validate="on-submit">
  	<label class="control-label" for="password" translate="views.login.password"></label>
    <input type="password" class="form-control" name="password" ng-model="vm.password"
    	placeholder="{{'views.login.placeholder.password' | translate}}" required/>
    <div class="help-block" ng-messages="loginForm.password.$error">
      <p ng-message="required"><span translate="form.error.required"></span></p>
    </div>
  </div>
  <uib-alert type="danger" close="vm.loginFailed = false" ng-show="vm.loginFailed">
    <span translate="views.login.error.authentication"></span>
  </uib-alert>
  <!-- Rememberme -->
  <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="vm.rememberme">
      <span translate="views.login.rememberme"></span>
    </label>
    <label>
      <a href="#" id="password-forgotten">
        <span translate="views.login.passwordforgotten"></span>
      </a>
    </label>
  </div>
</form>
</div>
<div class="modal-footer">
  <a href="#" id="register" ng-click="vm.register()">
    <span translate="views.login.register"></span>
  </a>
	<button class="btn btn-primary" type="submit" form="loginForm" ng-disabled="vm.isLoading">
		<span translate="views.login.connexion"></span>
	</button>
	<button class="btn btn-warning" type="button" ng-click="$dismiss()" ng-disabled="vm.isLoading">
		<span translate="app.cancel"></span>
	</button>
</div>