<md-dialog aria-label="error_modal" class="g-modal g-error-modal">
    <md-toolbar class="md-primary md-hue-3">
        <div class="md-toolbar-tools modal-header" layout="row" layout-align="space-between center">
            <h1 class="md-flex" ng-bind="$ctrl.title | translate"></h1>
            <i class="close-modal fa fa-times-circle" aria-label="login_cancel" ng-click="$ctrl.$mdDialog.cancel()" ng-disabled="$ctrl.isLoading"></i>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <div class="md-dialog-content">
            <p ng-bind="$ctrl.body | translate"></p>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button md-no-ink class="md-primary" ng-click="$ctrl.close()" aria-label="error_ok">
            <span translate="app.ok"></span>
        </md-button>
    </md-dialog-actions>
</md-dialog>