<form name="signUpForm" ng-submit="vm.register(signUpForm)" novalidate>
	<div class="modal-header">
		<h1 class="modal-title" translate="app.title"></h1>
		<h3 translate="views.signup.title"></h3>
	</div>
	<div class="modal-body">
		<!-- PSEUDO -->
		<div class="form-group" form-validate>
	  	<label class="control-label"for="username" translate="views.signup.username"></label>
	    <input type="text" class="form-control" name="username" 
	    	ng-model="vm.username"	placeholder="{{'views.signup.placeholder.username' | translate}}" 
	    	maxlength="24" required />
	    <div class="help-block">
	    	<span ng-show="signUpForm.username.$error.required" translate="form.required"></span>
	    </div>
	  </div>
	  <!-- EMAIL -->
	  <div class="form-group">
	  	<label for="email" translate="views.signup.email"></label>
	    <input type="email" class="form-control" ng-model="vm.email" 
	    	placeholder="{{'views.signup.placeholder.email' | translate}}" 
	    	required />
	    <div class="help-block">
	    	<span ng-show="signUpForm.email.$error.required" translate="form.required"></span>
	    </div>
	  </div>
	  <!-- EMAIL VALIDATION -->
	  <div class="form-group">
	  	<label for="confemail" translate="views.signup.confemail"></label>
	    <input type="confemail" class="form-control" ng-model="vm.confemail" ng-model-options="{ updateOn: 'blur' }"
	    	placeholder="{{'views.signup.placeholder.confemail' | translate}}" required/>
	  </div>
	  <!-- PASSWORD -->
	  <div class="form-group">
	  	<label for="password" translate="views.signup.password"></label>
	    <input type="password" class="form-control" ng-model="vm.password" 
	    	placeholder="{{'views.signup.placeholder.password' | translate}}" required/>
	  </div>
	  <!-- PASSWORD VALIDATION-->
	  <div class="form-group">
	  	<label for="confpassword" translate="views.signup.confpassword"></label>
	    <input type="confpassword" class="form-control" ng-model="vm.confpassword" ng-model-options="{ updateOn: 'blur' }"
	    	placeholder="{{'views.signup.placeholder.confpassword' | translate}}" required/>
	  </div>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">
			<span translate="app.validate"></span>
		</button>
		<button class="btn btn-warning" type="button" ng-click="$dismiss()">
			<span translate="app.cancel"></span>
		</button>
	</div>
</form>